// Navigation code here

nav {

    ul {

    .flexbox-row();

    @media @phone {
        justify-content: space-evenly; 
    }    
        li {
            font-size: 1.5em;
            margin: 10px 25px;

            @media @phone {
                margin-left: 5%;
                margin-right: 5%;
                margin-top: 8px;
                margin-bottom: 0.5px;
            }

            a {
                text-decoration: none;
                color: @river-bend;
                opacity: 1;
            }
        }

    }
}