// Navigation code here

nav {

    ul {

    .flexbox-row();

        li {
            font-size: 1.5em;
            margin: 10px 25px;

            a {
                text-decoration: none;
                color: @river-bend;
            }
        }

    }
}